In [1]:
import pandas as pd
from requests import get
from bs4 import BeautifulSoup
from time import time
from time import sleep
import random
import numpy as np

url = 'https://www.imdb.com/title/tt7430722/reviews?sort=reviewVolume&dir=desc&ratingFilter=0'
rating = []
user = []
review = []

In [2]:
response = get(url)
page_html = BeautifulSoup(response.text, 'html.parser')

In [3]:
tabs = page_html.find_all('div', class_ = 'ipl-ratings-bar')
tabs2 = page_html.find_all('div', class_ = 'display-name-date')
tabs3 = page_html.find_all('div', class_ = 'content')

for i in range(0,len(tabs)):
    rat = tabs[i].find('span', class_='').text
    usr = tabs2[i].find('a').text
    rev = tabs3[i].find('div',class_ = 'text show-more__control').text

    rating.append(rat)
    user.append(usr)
    review.append(rev)

In [6]:
data = list(zip(rating,user,review))
#ds1 = pd.Dataframe()
for i in range(0,len(data)):
    data[i] = list(data[i])

In [8]:
ds1 = pd.DataFrame(data,columns=['rating','user','review'])
uid = np.arange(0,24)
random.shuffle(uid)
ds1['userId']=uid
ds1.sort_values(by='userId')
ds1.head()

,rating,user,review,userId
0,4,nairtejas,In a way War is a relevant film because it jus...,10
1,8,stevendbeard,"I saw ""War"", starring Hrithik Roshan-Super 30,...",22
2,7,kluseba,War is an Indian action-thriller about a soldi...,7
3,1,Fella_shibby,Beware of fake reviews.A lousy attempt to be b...,17
4,8,ketgup83,When you have two of the best action stars com...,15

In [9]:
ds = pd.DataFrame(zip(uid,rating,review),columns=['userId','rating','review'])
ds.head()

   userId rating                                             review
0      10      4  In a way War is a relevant film because it jus...
1      22      8  I saw "War", starring Hrithik Roshan-Super 30,...
2       7      7  War is an Indian action-thriller about a soldi...
3      17      1  Beware of fake reviews.A lousy attempt to be b...
4      15      8  When you have two of the best action stars com...